@keyframes displayNav {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbarContainer {
    display: flex;
    background-color: rgb(159, 159, 159);
}

.bgAttach {
    position: fixed;
    width: 100vw;
}

.navbar {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-block: 1rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding-inline: 1rem;
}

.menuIcon, .cross {
    display: none;
}


@media (max-width: 768px) {
    .menuIcon, .cross {
        display: block;
        margin: 1rem;
        cursor: pointer;
    }

    .navbar {
        display: none;
    }

    .navbarContainer {
        z-index: 0;
    }

    .responsiveNav {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        padding-block: 0;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        
    }

    .cross, .responsiveNav {
        animation: 1.5s forwards displayNav;
    }

    .bgAttach {
        position: static;
    }
}
