.header {
    background-image: url('../pictures/lake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 70px is the height of the navbar, to get it, see Navbar.js */
    height: calc(100vh - 70px); 
}